
.adoption{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  display: flex;
}
:root{
  --color-text: #ffffff;
  --color-text-btn: #ffffff;
  --card1-gradient-color1: #c86c15;
  --card1-gradient-color2: #917f59;

}
.adoption body{
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #8e9eab, #eef2f3); 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.card-wrap{
    margin-top: 50px;
    margin-left: 50px;
  width: 220px;
  background: #bf8e12;
  border-radius: 20px;
  border: 5px solid rgb(249, 228, 70);
  overflow: hidden;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.card-wrap:hover{
  transform: scale(1.1);
}
.card-header{
  height: 200px;
  width: 100%;
  display: grid;
  place-items: center;

}

.card-header i{
  color: #fff;
  font-size: 72px;
}
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
.card-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  
}
.card-text{
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}
.card-btn{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}



.card-btn{
  background: linear-gradient(to left, var(--card1-gradient-color1), var(--card1-gradient-color2));
}
