body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  text-align: center;
}

.nav {
  background-color: rgb(211, 153, 5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: space-between;
  font-size: larger;
}

.petz {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10rem;
}

.nav a {
  background-color: rgb(211, 153, 5);
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav li.active {
  background-color: rgb(211, 153, 5);
}

.nav li:hover {
  background-color: rgb(211, 153, 5);
}
