.contact {
  max-width: 30%;
  margin: 0 auto;
  text-align: center;
}
.contact ul {
  list-style: none;
}
.contact li {
  display: inline-block;
  margin: 0 10px;
}
.contact label {
  text-align: left;
  display: block;
}
.contact h2 {
  font-size: 20px;
  color: #a95b09;
  margin-bottom: 30px;
}
.contact input, .contact textarea, .contact select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.contact button {
  background: #a95b09;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.contact h1 {
  color: #a95b09;
}
